<div th:fragment="pageFragment">
	<ul class="pagination pagination-sm no-margin pull-right">
		<li><a class="first">首页</a></li>
		<li><a class="pre">上一页</a></li>
		<li><a class="next">下一页</a></li>
		<li><a class="last">尾页</a></li>
		<li><a class="rowCount">总记录数(0)</a></li>
		<li><a class="pageCount">总页数(0)</a></li>
		<li><a class="pageCurrent">当前页(1)</a></li>
	</ul>

<script type="text/javascript">
	$(function() {
		//分页按钮上的事件注册
		//在容器pageId对应的对象上注册click事件，当点击容器中的子元素(例如pre,..)时执行
		//事件处理函数doJumpToPage
		$("#pageId").on("click", ".first,.pre,.next,.last", doJumpToPage)
	})
	//基于分页按钮事件，执行新的页码记录查询
	function doJumpToPage() {
		//1.获取点击对象的class属性值(pre,first,next,last)
		var cls = $(this).prop("class");
		//2.基于点击对象的不同修改当前页码值
		var pageCurrent = $("#pageId").data("pageCurrent");//基于key取值
		var pageCount = $("#pageId").data("pageCount");//基于key取值
		if (cls == "first") {//首页
			pageCurrent = 1;
		} else if (cls == "pre" && pageCurrent > 1) {//上一页并且不是第一页，应该执行当前页码减一操作
			pageCurrent--;
		} else if (cls == "next" && pageCurrent < pageCount) {
			pageCurrent++
		} else if (cls == "last") {
			pageCurrent = pageCount;
		} else {
			return;
		}
		//3.基于新的页码值去执行新的查询
		//3.1存储新的页码值
		$("#pageId").data("pageCurrent", pageCurrent);
		//3.2执行新的查询
		doGetObjects();
	}
	//初始化分页信息
	function doSetPagination(pageObject) {
		//console.log("pageObject",pageObject);
		//初始化总记录数
		$(".rowCount").html("总记录数(" + pageObject.rowCount + ")");
		//初始化总页数
		$(".pageCount").html("总页数(" + pageObject.pageCount + ")");
		//初始化当前页
		$(".pageCurrent").html("当前页(" + pageObject.pageCurrent + ")");
		//存储当前页码值和总页数
		//data函数为jquery中的一个数据绑定函数，可以将一些key/value对存储到指定的对象上
		//data函数语法data(key[,value]);
		//data函数只有Key时表示取值，既有key又有value表示储存值
		$("#pageId").data("pageCurrent", pageObject.pageCurrent);
		$("#pageId").data("pageCount", pageObject.pageCount);
	}
</script>
</div>







