<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysLogDao">
	<sql id="queryWhereId">
		from sys_Logs
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>

	<select id="getRowCount" resultType="int">
		select count(*)
		<include refid="queryWhereId" />
	</select>

	<select id="findPageObjects"
		resultType="com.cy.pj.sys.entity.SysLog">
		select *
		<include refid="queryWhereId" />
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>
	<!--<delete id="deleteObjects"> delete from sys_logs <if test="ids!=null 
		and ids.length>0"> where id in <foreach collection="ids" open="(" close=")" 
		separator="," item="id"> #{id} </foreach> </if> <if test="ids==null or ids.length==0"> 
		where 1==2 </if> </delete> -->
	<!-- 从性能角度考虑，sql语句不建议使用in语句 -->
	<delete id="deleteObjects">
		delete from sys_logs
		<where>
			<choose>
				<when test="ids!=null and ids.length>0">
					<foreach collection="ids" item="id" separator="or">
						id=#{id}
					</foreach>

				</when>
				<otherwise>
					1==2
				</otherwise>
			</choose>
		</where>
	</delete>
	<insert id="insertObject">
		insert into sys_logs
		(username,operation,method,params,time,ip,createdTime)
		values
		(#{username},#{operation},#{method},#{params},#{time},#{ip},#{createdTime})
	</insert>
</mapper>